* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #df8e00;
}
body {
  font-family: "Rimouski", sans-serif;
  background-image: url(bg3.jpeg);
  background-position: top center;
  background-size: cover;
}
.app-container {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_wrap {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  margin-left: 20px;
  padding: 10px;
  min-width: 35%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
sub {
  min-width: 40%;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
}

.forecast {
  font-size: 14px;
  flex: 1;
  min-height: 150px;
  border-right: dashed 2px;
  margin: 0;
}
.forecast:last-child {
  border-right: none;
}
.forcast_iconId img {
  width: 50%;
}
input::placeholder {
  font-family: "Rimouski", sans-serif;
}
.notification p {
  color: rgba(255, 0, 0, 0.8);
  font-size: 1.5rem;
  padding-bottom: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #df8e00;

  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}
header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
.location .city {
  padding: 5px;
  font-size: 32px;
  margin-bottom: 5px;
}
.location .date {
  padding: 5px;
  font-size: 18px;
}
.current .temp {
  font-size: 102px;
  font-weight: 900;
  margin: 10px 0px 0px;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.4);
}
.current .temp span {
  font-weight: 500;
}
.current .weather-description {
  font-size: 32px;
  margin-bottom: 15px;
}

.current .hi-low {
  font-size: 24px;
  font-weight: 500;
}
.forecast .date {
  font-size: 18px;
}
@media only screen and (max-width: 640px) {
  .container_wrap {
    flex-direction: column;
  }
  main {
    width: 90%;
    margin-left: 0;
    padding: 0 10%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  sub {
    width: 90%;
    min-height: 100%;
    margin: 0 0 20px;
    padding: 10px 10 50%;
  }
  .forecast {
    min-height: 120px;
  }
}
